<div id="entry">
    <div id="signup" class="layerbox">
        <div class="header">
            <strong>sign up</strong>
        </div>

        <div class="body">
        <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
                <div class="errorExplanation">
                    <h3>Invalid Form</h3>
                    <ul>
                        <% for message in @user.errors.full_messages %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            
            <div class="field">
                <dl>
                    <dt><%= f.label :email%></dt>
                    <dd><%= f.text_field :email%></dd>
                </dl>
            </div>
            <div class="field">
                <dl>
                    <dt><%= f.label :password%></dt>
                    <dd><%= f.password_field :password%></dd>
                </dl>
            </div>
            <div class="field">
                <dl>
                    <dt><%= f.label :password_confirmation%></dt>
                    <dd><%= f.password_field :password_confirmation%></dd>
                </dl>
            </div>
            <div class="actions"><%= f.submit %></div>
        <% end %>
        </div>
    </div>
</div>