<!DOCTYPE html>
<html>
    <head>
      <title>Still</title>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application", 'defer' => true %>
      <%= csrf_meta_tags %>
      <!-- favicon 등록 -->
      <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    </head>
    <body>
        <%= render "layouts/header" %>
        <div id="page">
            <%= yield %>
        </div>
    </body>
</html>